<%= turbo_stream_from "chat_#{@chat.id}" %>

<div id="messages"
     class="chat-window"
     data-controller="chat-scroll">
  <%= render @chat.messages.order(:created_at), chat: @chat %>
</div>

<%= render "messages/form",
           chat:    @chat,
           message: Message.new %>