<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; line-height: 1.5; background-color: #f9f9f9; padding: 20px;">
<h2 style="color: #363636;">Gra o Polskę</h2>
<h2>Resetowanie hasła</h2>

<p>Kliknij poniżej, aby zresetować swoje hasło:</p>

<p style="text-align: center;">
  <a href="<%= @url %>" style="display: inline-block; background-color: #3273dc; color: white; padding: 10px 20px; text-decoration: none; border-radius: 4px;">
    Zresetuj moje hasło
  </a>
</p>

<p>Jeśli się nie rejestrowałeś prosimy o pominięcie tego maila.</p>

<p style="color: #7a7a7a; font-size: 12px;">Ten link wygaśnie po jakimś czasie lub kiedy zostanie użyty. Jeśli się nie prosiłeś o zmianę hasło to prosimy o pominięcie tego maila.</p>
</body>
</html>
