<section class="section">
  <div class="container">
    <p>Hello admin</p>
    <p>Liczba gier: <%= Play.count %></p>
    <p>Liczba użytkowników: <%= User.count %></p>
    User tab, Game tab
    Side menu
  </div>
</section>
