<%= render 'shared/plays' do %>
  <div class="table-container">
    <table class="is-mobile-stack">
      <thead>
      <tr class="has-text-centered">
        <th>
          <div class="header-stack">
            <span>Nazwa</span>
            <span class="header-subtitle">Opis</span>
          </div>
        </th>
        <th style="text-align: right;">Kwota startowa</th>
      </tr>
      </thead>
      <tbody>
      <% @budgets.each do |budget| %>
        <tr class="color-background-on-hover">
          <td data-label="Nazwa / Opis">
            <strong><%= budget.name %></strong>
            <div class="description-mobile">
              <%= budget.description %>
            </div>
          </td>
          <td data-label="Kwota startowa" class="no-wrap" style="text-align: right;">
            <%= budget.decorate.formatted_start_budget %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
