<h2 class="title is-5">Aktywni użytkownicy</h2>
<% User.online.each_with_index do |user, i| %>
  <% if i > 0 %>
    ,
  <% end %>
  <%= link_to profile_path(user) do %>
    <%= user.name %>
  <% end %>
<% end %>
