<section class="section">
  <div class="container">
    <h1 class="title is-2"><%= @title %></h1>

    <div class="content">
      <%= raw rich_text_sanitize(@content) %>
    </div>
  </div>
</section>
