<section class="section">
  <div class="container">
    <h1 class="title is-2 has-text-centered">Gra o Polskę</h1>

    <div class="content">
      <%= raw rich_text_sanitize(@content).gsub("\n", "<br>") %>
    </div>

    <div class="content">
      <turbo-frame id="online_users" src="<%= online_users_path %>" data-controller="reload" data-reload-interval-value="5000">
        Loading online users…
      </turbo-frame>
    </div>

    <% if current_user&.is_admin || current_user&.is_tester %>
      <p class="mb-2 mt-2">Chat dla administracji i testerów:</p>
      <%= render 'messages/chat' %>
    <% end %>
  </div>
</section>