<footer class="footer">
  <div class="content">
    <div class="has-text-centered">
      <img src="<%= asset_path("ministerstwo.png") %>" class="footer-image"/>
      <img src="<%= asset_path("novum.png") %>" class="footer-image"/>
    </div>
    <p class="has-text-centered">
      Projekt dofinansowany ze środków budżetu państwa, przyznanych przez Ministra Edukacji w ramach programu Młodzi
      Obywatele
    </p>
    <p class="has-text-right">
      Baczus &copy; <%= Time.current.year %>. All rights reserved.
    </p>
  </div>
</footer>
